<div class="row mt-5">
  <div class="col-md-9 m-auto">
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <div class="row d-flex align-items-center">
          <div class="col-2">
            <i class="{{ this.categoryId.icon }} fa-3x" style="color: #5e77f3;"></i>
          </div>
          <div class="col-6">
            <p class="h3">{{this.name}}</p>
            <p class="h5">{{this.date}}</p>
          </div>
          <div class="col-2">
            <span class="h3">{{this.amount}}</span>
          </div>
          <div class="col-2">
            <a class="btn btn-success" href="./records/{{this._id}}/edit">修改</a>
            <form action="/records/{{this._id}}/delete" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-danger text-white">刪除</button>
          </div>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>